In [2]:
import pandas as pd
import numpy as np

In [3]:
student_performance = pd.read_csv("https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv")
student_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
student_performance.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [5]:
student_performance.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [6]:
student_performance.shape

(1000, 8)

In [7]:
student_performance.iloc[0:3, 0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
1,female,group C,some college,standard,completed
2,female,group B,master's degree,standard,none
6,female,group B,some college,standard,completed
10,male,group C,associate's degree,standard,none

In [16]:
student_performance.iloc[[1,2,6,10], 0:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course
1,female,group C,some college,standard,completed
2,female,group B,master's degree,standard,none
6,female,group B,some college,standard,completed
10,male,group C,associate's degree,standard,none

In [8]:
student_performance_with_names= student_performance.iloc[[0,3,4,7,8]]
student_performance_with_names.index = ["Roma"," Nastya", "Tolya", " Katya", "Alena"]
student_performance_with_names

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Roma,female,group B,bachelor's degree,standard,none,72,72,74
Nastya,male,group A,associate's degree,free/reduced,none,47,57,44
Tolya,male,group C,some college,standard,none,76,78,75
Katya,male,group B,some college,free/reduced,none,40,43,39
Alena,male,group D,high school,free/reduced,completed,64,64,67

In [9]:
student_performance_with_names.loc[["Roma"," Nastya"],['gender','writing score']]

         gender  writing score
Roma     female             74
 Nastya    male             44

In [10]:
student_performance_with_names.iloc[:,0]

Roma       female
 Nastya      male
Tolya        male
 Katya       male
Alena        male
Name: gender, dtype: object

In [11]:
my_series_1= pd.Series([1,2,3,2], index=['Roma','Nastya','Lena','Igor'])
my_series_2= pd.Series([4,5,6,7], index=['Roma','Nastya','Lena','Igor'])

In [12]:
pd.DataFrame({'col_name_1':my_series_1, 'col_name':my_series_2})

        col_name_1  col_name
Roma             1         4
Nastya           2         5
Lena             3         6
Igor             2         7

In [13]:
student_performance_with_names['gender']

Roma       female
 Nastya      male
Tolya        male
 Katya       male
Alena        male
Name: gender, dtype: object

In [14]:
student_performance_with_names[['gender']]

         gender
Roma     female
 Nastya    male
Tolya      male
 Katya     male
Alena      male

In [15]:
new_dataset = pd.read_csv("https://stepik.org/media/attachments/course/4852/titanic.csv")
new_dataset.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object