In [1]:
import numpy as np
import pandas as pd

In [6]:
student_performance = pd.read_csv("https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv")
student_performance = student_performance.rename(columns=
                                                 {'parental level of education':'parental_level_of_education',
                                                 'test preparation course': 'test_preparation_course',
                                                 'math score':'math_score',
                                                 'reading score': 'reading_score',
                                                 'writing score': 'writing_score'})
student_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [12]:
student_performance.groupby("gender", as_index=False)\
    .aggregate({"math_score": "mean", "reading_score":"mean"})\
    .rename(columns={
    "math_score":"mean_math_score",
    "reading_score": "mean_reading_score"
    })

   gender  mean_math_score  mean_reading_score
0  female        63.633205           72.608108
1    male        68.728216           65.473029

In [13]:
student_performance.groupby(["gender","race/ethnicity"], as_index=False)\
    .aggregate({"math_score": "mean", "reading_score":"mean"})\
    .rename(columns={
    "math_score":"mean_math_score",
    "reading_score": "mean_reading_score"
    })

   gender race/ethnicity  mean_math_score  mean_reading_score
0  female        group A        58.527778           69.000000
1  female        group B        61.403846           71.076923
2  female        group C        62.033333           71.944444
3  female        group D        65.248062           74.046512
4  female        group E        70.811594           75.840580
5    male        group A        63.735849           61.735849
6    male        group B        65.930233           62.848837
7    male        group C        67.611511           65.424460
8    male        group D        69.413534           66.135338
9    male        group E        76.746479           70.295775

In [20]:
student_performance.groupby(['gender','race/ethnicity']).math_score.nunique()

gender  race/ethnicity
female  group A           29
        group B           51
        group C           59
        group D           53
        group E           44
male    group A           38
        group B           43
        group C           56
        group D           49
        group E           38
Name: math_score, dtype: int64

In [25]:
student_performance.sort_values(["gender","math_score"], ascending=False)\
    .groupby("gender").head(5)

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
149,male,group E,associate's degree,free/reduced,completed,100,100,93
623,male,group A,some college,standard,completed,100,96,86
625,male,group D,some college,standard,completed,100,97,99
916,male,group E,bachelor's degree,standard,completed,100,100,100
306,male,group E,some college,standard,completed,99,87,81
451,female,group E,some college,standard,none,100,92,97
458,female,group E,bachelor's degree,standard,none,100,100,100
962,female,group E,associate's degree,standard,none,100,100,100
114,female,group E,bachelor's degree,standard,completed,99,100,100
263,female,group E,high school,standard,none,99,93,90

In [27]:
student_performance["total_score"] =student_performance.math_score + student_performance.writing_score + student_performance.reading_score

In [26]:
student_performance.math_score + student_performance.writing_score + student_performance.reading_score

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Length: 1000, dtype: int64

In [28]:
student_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229

In [30]:
student_performance = student_performance.assign(total_score_log = np.log(student_performance.total_score))
student_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score,total_score_log
0,female,group B,bachelor's degree,standard,none,72,72,74,218,5.384495
1,female,group C,some college,standard,completed,69,90,88,247,5.509388
2,female,group B,master's degree,standard,none,90,95,93,278,5.627621
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,4.997212
4,male,group C,some college,standard,none,76,78,75,229,5.433722

In [33]:
student_performance.drop(["total_score","lunch"],axis=1)

,gender,race/ethnicity,parental_level_of_education,test_preparation_course,math_score,reading_score,writing_score,total_score_log
0,female,group B,bachelor's degree,none,72,72,74,5.384495
1,female,group C,some college,completed,69,90,88,5.509388
2,female,group B,master's degree,none,90,95,93,5.627621
3,male,group A,associate's degree,none,47,57,44,4.997212
4,male,group C,some college,none,76,78,75,5.433722
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,completed,88,99,95,5.641907
996,male,group C,high school,none,62,55,55,5.147494
997,female,group C,high school,completed,59,71,65,5.273000
998,female,group D,some college,completed,68,78,77,5.407172
999,female,group D,some college,none,77,86,86,5.517453