In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
d = {'type': ["A", "A", "B","B" ], 'value': [10, 14, 12, 23]}
df = pd.DataFrame(data=d)
df

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [54]:

my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat.csv')
my_stat.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

In [26]:
subset_1 = my_stat.iloc[0:9,[0,2]]

In [23]:
bad_df = my_stat.index.isin([0,4])
new = my_stat[~bad_df]
subset_2 = new.iloc[:, [1,3]]
subset_2

       V2   V4
0    13.0  1.0
2    11.0  0.0
3    11.0  2.0
4    10.0 -1.0
6     9.0  2.0
..    ...  ...
495   8.0 -1.0
496   8.0  1.0
497  11.0  2.0
498  11.0  2.0
499   8.0  1.0

[498 rows x 2 columns]

In [30]:
query_1 = ((my_stat["V1"]>0) & (my_stat["V3"]=="A"))
subset_1 = my_stat.loc[query_1]
subset_1.head()

    V1    V2 V3   V4
3    2  11.0  A  2.0
5    2  11.0  A  0.0
7    1   9.0  A  1.0
10   1  10.0  A  1.0
13   1  12.0  A  3.0

In [37]:
query_2 = ((my_stat["V2"]!=10) | (my_stat["V4"] >= 1))
subset_2 = my_stat.loc[query_2]
subset_2.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
5   2  11.0  A  0.0

In [50]:
my_stat["V5"] = my_stat["V1"] + my_stat["V4"]
my_stat.head()

   V1    V2 V3   V4   V5
0   2  13.0  B  1.0  3.0
1  -1   7.0  B  1.0  0.0
2   0  11.0  A  0.0  0.0
3   2  11.0  A  2.0  4.0
4   0  10.0  B -1.0 -1.0

In [53]:
my_stat = my_stat.assign(V6 = np.log(my_stat.V2))
my_stat.head()

   V1    V2 V3   V4   V5        V6
0   2  13.0  B  1.0  3.0  2.564949
1  -1   7.0  B  1.0  0.0  1.945910
2   0  11.0  A  0.0  0.0  2.397895
3   2  11.0  A  2.0  4.0  2.397895
4   0  10.0  B -1.0 -1.0  2.302585

In [56]:
my_stat = my_stat.rename(columns={
    "V1":"session_value",
    "V2" : "group",
    "V3" : "time",
    "V4" : "n_users"
})
my_stat.head()

   session_value  group time  n_users
0              2   13.0    B      1.0
1             -1    7.0    B      1.0
2              0   11.0    A      0.0
3              2   11.0    A      2.0
4              0   10.0    B     -1.0

In [63]:
my_stat = pd.read_csv("https://stepik.org/media/attachments/course/4852/my_stat_1.csv")
my_stat = my_stat.fillna(value={'session_value': 0})
my_stat_2 = my_stat.query('n_users >= 0')
med = my_stat_2['n_users'].median()
my_stat.loc[my_stat['n_users'] < 0, 'n_users'] = med
my_stat.head()

   session_value  time group  n_users
0            0.0    12     B      9.0
1            0.0    11     A      5.0
2            1.0     8     A      1.0
3            2.0     9     B      3.0
4            2.0    10     B      9.0

In [ ]:
my_stat = my_stat.fillna(0)
my_stat.loc[my_stat.n_users<0, 'n_users']=my_stat.query("n_users>=0").n_users.median()

In [64]:
mean_session_value_data = my_stat.groupby(["group"], as_index=False)\
.aggregate({"session_value":"mean"})\
.rename(columns={
    "session_value":"mean_session_value"})
mean_session_value_data.head()

  group  mean_session_value
0     A                 0.8
1     B                 0.8