In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("https://stepik.org/media/attachments/course/4852/dota_hero_stats.csv")
data.head()

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
0,0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"

In [15]:
data.groupby("legs", as_index=False).count()

,legs,Unnamed: 0,attack_type,id,localized_name,name,primary_attr,roles
0,0,11,11,11,11,11,11,11
1,2,95,95,95,95,95,95,95
2,4,7,7,7,7,7,7,7
3,6,3,3,3,3,3,3,3
4,8,1,1,1,1,1,1,1

In [21]:
data.loc[data['legs']== 0]

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
9,9,Ranged,10,0,Morphling,npc_dota_hero_morphling,agi,"['Carry', 'Escape', 'Durable', 'Nuker', 'Disab..."
10,10,Ranged,11,0,Shadow Fiend,npc_dota_hero_nevermore,agi,"['Carry', 'Nuker']"
14,14,Ranged,15,0,Razor,npc_dota_hero_razor,agi,"['Carry', 'Durable', 'Nuker', 'Pusher']"
26,26,Melee,28,0,Slardar,npc_dota_hero_slardar,str,"['Carry', 'Durable', 'Initiator', 'Disabler', ..."
31,31,Ranged,33,0,Enigma,npc_dota_hero_enigma,int,"['Disabler', 'Jungler', 'Initiator', 'Pusher']"
38,38,Ranged,40,0,Venomancer,npc_dota_hero_venomancer,agi,"['Support', 'Nuker', 'Initiator', 'Pusher', 'D..."
45,45,Ranged,47,0,Viper,npc_dota_hero_viper,agi,"['Carry', 'Durable', 'Initiator', 'Disabler']"
65,65,Melee,67,0,Spectre,npc_dota_hero_spectre,agi,"['Carry', 'Durable', 'Escape']"
87,87,Melee,89,0,Naga Siren,npc_dota_hero_naga_siren,agi,"['Carry', 'Support', 'Pusher', 'Disabler', 'In..."
89,89,Ranged,91,0,Io,npc_dota_hero_wisp,str,"['Support', 'Escape', 'Nuker']"
92,92,Ranged,94,0,Medusa,npc_dota_hero_medusa,agi,"['Carry', 'Disabler', 'Durable']"

In [24]:
data_1 = pd.read_csv("https://stepik.org/media/attachments/course/4852/accountancy.csv")
data_1.head()

   Unnamed: 0 Executor Type  Salary
0           0     Pupa    D      63
1           1     Pupa    A     158
2           2     Pupa    D     194
3           3     Pupa    E     109
4           4    Loopa    E     184

In [31]:
data_1.groupby(["Executor","Type"]).aggregate({"Salary":"mean"}).head(12)

                   Salary
Executor Type
Loopa    A      58.000000
         B     145.166667
         C     154.333333
         D     137.714286
         E     164.000000
         F     238.000000
Pupa     A     160.833333
         B      77.000000
         C      74.500000
         D     146.500000
         E     131.200000
         F     136.250000

In [36]:
data.groupby(["attack_type", "primary_attr"]).count()

                          Unnamed: 0  id  legs  localized_name  name  roles
attack_type primary_attr
8           8                      1   1     1               1     1      1
Melee       agi                   19  19    19              19    19     19
            int                    2   2     2               2     2      2
            str                   35  35    35              35    35     35
Ranged      agi                   18  18    18              18    18     18
            int                   40  40    40              40    40     40
            str                    3   3     3               3     3      3

In [38]:
data_2 = pd.read_csv("http://stepik.org/media/attachments/course/4852/algae.csv")
data_2.groupby("genus").mean()

              sucrose    alanin   citrate   glucose  oleic_acid
genus
Ascophyllum  6.825467  0.875429  5.253527  3.414961    2.432526
Cladophora   4.008792  3.997055  5.288311  2.800276    2.263472
Fucus        4.355112  3.566411  4.214878  2.814803    3.367647
Palmaria     0.704580  3.176440  5.573905  3.242090    2.245538
Saccharina   4.183596  3.524207  3.346710  4.980594    4.487252

In [39]:
data_2.groupby("genus").min()

,species,group,sucrose,alanin,citrate,glucose,oleic_acid
genus,,,,,,,
Ascophyllum,Ascophyllum_nodosum,brown,6.825467,0.875429,5.253527,3.414961,2.432526
Cladophora,Cladophora_compacta,green,2.452623,1.648450,3.082826,2.316955,1.432514
Fucus,Fucus_distichus,brown,3.001472,0.346431,1.216767,2.272724,0.304573
Palmaria,Palmaria_palmata,red,0.704580,3.176440,5.573905,3.242090,2.245538
Saccharina,Saccharina_japonica,brown,1.636122,1.255251,1.071920,3.947968,4.156700

In [40]:
data_2.groupby("genus").mean()

              sucrose    alanin   citrate   glucose  oleic_acid
genus
Ascophyllum  6.825467  0.875429  5.253527  3.414961    2.432526
Cladophora   4.008792  3.997055  5.288311  2.800276    2.263472
Fucus        4.355112  3.566411  4.214878  2.814803    3.367647
Palmaria     0.704580  3.176440  5.573905  3.242090    2.245538
Saccharina   4.183596  3.524207  3.346710  4.980594    4.487252

In [41]:
data_2.groupby("genus").max()

,species,group,sucrose,alanin,citrate,glucose,oleic_acid
genus,,,,,,,
Ascophyllum,Ascophyllum_nodosum,brown,6.825467,0.875429,5.253527,3.414961,2.432526
Cladophora,Cladophora_gracilis,green,5.712284,6.881024,6.940588,3.343707,2.829016
Fucus,Fucus_vesiculosus,brown,6.786996,6.641303,6.423606,3.623225,6.405165
Palmaria,Palmaria_palmata,red,0.704580,3.176440,5.573905,3.242090,2.245538
Saccharina,Saccharina_latissima,brown,6.731070,5.793163,5.621499,6.013219,4.817804

In [43]:
data_2.groupby('group') \
    .agg({'citrate': 'var', 'sucrose': lambda x: x.max() - x.min(), 'glucose': 'count'}) \
    .round(2)

       citrate  sucrose  glucose
group
brown     5.47     5.19        6
green     3.95     3.26        3
red        NaN     0.00        1