In [10]:
from sklearn import tree
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:

data_train = pd.read_csv('https://stepik.org/media/attachments/course/4852/dogs_n_cats.csv')
data_train

     Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0       15    18.0         1        1                   0  собачка
1       20    24.0         1        0                   0  собачка
2       34    40.8         1        1                   0  собачка
3       26    31.2         1        1                   0  собачка
4       16    19.2         1        1                   0  собачка
..     ...     ...       ...      ...                 ...      ...
995      8     3.2         1        0                   1    котик
996      7     2.8         1        0                   1    котик
997      6     2.4         1        0                   1    котик
998      7     2.8         1        0                   1    котик
999     11     4.4         1        0                   1    котик

[1000 rows x 6 columns]

In [12]:
y_train = data_train[["Вид"]]
y_train

         Вид
0    собачка
1    собачка
2    собачка
3    собачка
4    собачка
..       ...
995    котик
996    котик
997    котик
998    котик
999    котик

[1000 rows x 1 columns]

In [13]:
x_train = data_train.drop("Вид", axis = 1)
x_train

     Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0       15    18.0         1        1                   0
1       20    24.0         1        0                   0
2       34    40.8         1        1                   0
3       26    31.2         1        1                   0
4       16    19.2         1        1                   0
..     ...     ...       ...      ...                 ...
995      8     3.2         1        0                   1
996      7     2.8         1        0                   1
997      6     2.4         1        0                   1
998      7     2.8         1        0                   1
999     11     4.4         1        0                   1

[1000 rows x 5 columns]

In [15]:
rs = np.random.seed(0)
clf = tree.DecisionTreeClassifier(criterion='entropy',max_depth=5, random_state=rs)
clf.fit(x_train, y_train)
train_score = clf.score(x_train, y_train)
train_score

1.0

In [16]:
x_test = pd.read_json("ds_part_2.4.txt")
x_test

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      29    34.8         1        1                   0
1      20    24.0         1        1                   0
2      25    30.0         1        1                   0
3      33    39.6         1        0                   0
4      31    37.2         1        1                   0
..    ...     ...       ...      ...                 ...
95      8     3.2         1        0                   1
96      8     3.2         1        0                   1
97      5     2.0         1        0                   1
98      9     3.6         1        0                   1
99     14     5.6         0        0                   1

[100 rows x 5 columns]

In [17]:
hh = clf.predict(x_test)
l = list(hh)
l.count('собачка')

41

In [18]:
hh

array(['собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'собачка',
       'собачка', 'собачка', 'собачка', 'собачка', 'собачка', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик', 'котик', 'котик', 'котик', 'котик', 'котик',
       'котик', 'котик'], dtype=object)